html
{
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

body
{
  background-color: #00BCD4;
}

p, h1
{
  font-size: 15px;
}

#header
{
  background-color: #ffffff;
  font-size: 10vmin;
  position: absolute;
  padding-top: 2vh;
  left: 0;
  top:0;
  right: 0;
  height: 14vh;
  min-height: 40px;
  min-width: 50vw;
  width: 100%;
  text-align: center;
}

#nav
{
  font-size: 200%;
  position: absolute;
  margin-top: 30%;
  width: 25%;
  height: 20%;
  text-align: center;
}
