html
{
    font-size: 17px;
    font-family: "Lucida Console", monospace;
    color: #000;
}

body
{
    background-color: #ffffff;
    margin: 0 20px 20px 20px;
    max-width: 640px;
}

p
{
    font-size: 1em;
}

li
{
    font-size: 0.9em;
    color: #444;
}

a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: #0000ff;
}

h1, h2, h3
{
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    margin-top: 40px;
}

h1::after
{
    content: "================================================================";
    display: block;
}

h1::before
{
    content: "================================================================";
    display: block;
}

h2::after
{
    content: "----------------------------------------------------------------";
    display: block;
}

/***** header *****/ 

top
{
    
}

menu
{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
    position: absolute;
    top: 140px;
    height: 100px;
}

/***** body *****/

main
{
    margin: 80px 0 0 0;
}

pre
{
    margin: 0px;
}

date
{
    display: inline-block;
    color: #000;
}
date#moreline
{
    padding-left: 40px;
}

.toggle-label
{
    display: block;
    padding-bottom: 20px;
}

titel
{
    display: block;
    padding-left: 60px
}

.toggle-content
{
    padding: 0px 20px 20px 20px;
}

/***** toggle *****/
.entry
{
    
}

.toggle-label
{
    cursor: pointer;
}
.toggle-label::before
{
    content: "[-]";
}

.toggle-input
{
    display: none;
}

.toggle-input:not(:checked) ~ .toggle-content
{
    display: none;
}

.toggle-content
{
    padding-left: 60px;
}

.toggle-input:not(:checked) ~ .toggle-label::before
{
    content: "[+]"
}

#nocontent::before
{
    content: "[o] ";
    cursor: default;
}

.toggle-input:not(:checked) ~ .toggle-label
{
    padding-bottom: 20px;
}

/***** toggle *****/

.codetitle
{
    display: inline-block;
    margin-right: 20px;
    margin-left: 60px;
    width: 140px;
}

.level
{
    display: inline-block;
}

#level0::after { content: "[----------]"; }
#level1::after { content: "[x---------]"; }
#level2::after { content: "[xx--------]"; }
#level3::after { content: "[xxx-------]"; }
#level4::after { content: "[xxxx------]"; }
#level5::after { content: "[xxxxx-----]"; }
#level6::after { content: "[xxxxxx----]"; }
#level7::after { content: "[xxxxxxx---]"; }
#level8::after { content: "[xxxxxxxx--]"; }
#level9::after { content: "[xxxxxxxxx-]"; }
#level10::after { content: "[xxxxxxxxxx]"; }

contentblock
{
    display: inline-block;
    margin-left: 40px;
}


/***** footer *****/

h4
{
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    width: 210px;
    margin: 0;
}

#gmail::after
{    content:"@gmail.com";    }
#outlook::after
{    content:"@outlook.com";    }
#uumail::after
{    content:"@students.uu.nl";    }

.email
{
    margin-left: 40px;
}

.email:hover
{
    color: #00f;
    cursor: pointer;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Superduper Small Devices, Smurfs */
@media only screen and (max-width : 370px) {

}
