html
{
    font-size: 16px;
    font-family: "Lucida Console", monospace;
    color: #000;
}

body
{
    background-color: #ffffff;
    max-width: calc(65*0.5882em);
    margin: 0 calc(2*0.5882em) 2em calc(2*0.5882em);
}

a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: #0000ff;
}

h1, h2, h3
{
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    margin-top: 3em;
}

h1::after, h1::before
{
    content: "================================================================";
    display: block;
    white-space: nowrap;
}

h2::after
{
    content: "----------------------------------------------------------------";
    display: block;
    white-space: nowrap;
}

.entry
{
    padding-right: 20px;
}

/***** header *****/ 

menu
{
    padding: 0.5em 0 0 0;
    margin: 0;
    background: linear-gradient(
        to bottom, 
        rgba(255,255,255,1), 
        rgba(255,255,255,1), 
        rgba(255,255,255,1),
        rgba(255,255,255,1),
        rgba(255,255,255,1),
        rgba(255,255,255,0));
    position: fixed;
    display: none;
    height: 65px;
}
.wide
{
    display: inline;
}
.mid
{
    display: none;
}
.small
{
    display: none;
}
.midsmall
{
    display: none;
}

/***** body *****/

pre
{
    margin: 0;
}

date
{
    display: inline;
    color: #000;
}
date#moreline
{
    padding-left: calc(4*0.5882em);
}

titel
{
    display: block;
    padding-left: calc(6*0.5882em);
}

contentblock
{
    display: block;
    margin-left: calc(4*0.5882em);
}





/***** toggle *****/

.toggle-label
{
    display: block;
    padding-bottom: 1em;
    cursor: pointer;
}
.toggle-label::before
{
    content: "[-]";
}

.toggle-input
{
    display: none;
}

.toggle-input:not(:checked) ~ .toggle-content
{
    display: none;
}

.toggle-input:not(:checked) ~ .toggle-label
{
    padding-bottom: 1em;
}
.toggle-input:not(:checked) ~ .toggle-label::before
{
    content: "[+]"
}

.toggle-content
{
    padding: 0 calc(2*0.5882em) 1em calc(6*0.5882em);
}

#nocontent
{
    cursor: default;
}
#nocontent::before
{
    content: "\00a0-\00a0";
}

/***** toggle *****/

.codetitle
{
    display: inline-block;
    margin-left: calc(4*0.5882em);
    width: calc(9*0.5882em);
    color: #f00;
    white-space: nowrap;
    
}

.level
{
    display: inline-block;
    color: #00f;
}

#level0::after { content: "[----------]"; }
#level1::after { content: "[x---------]"; }
#level2::after { content: "[xx--------]"; }
#level3::after { content: "[xxx-------]"; }
#level4::after { content: "[xxxx------]"; }
#level5::after { content: "[xxxxx-----]"; }
#level6::after { content: "[xxxxxx----]"; }
#level7::after { content: "[xxxxxxx---]"; }
#level8::after { content: "[xxxxxxxx--]"; }
#level9::after { content: "[xxxxxxxxx-]"; }
#level10::after { content: "[xxxxxxxxxx]"; }



/***** footer *****/

h4
{
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    margin: 0;
}

#gmail::after
{    content:"@gmail.com";    }
#outlook::after
{    content:"@outlook.com";    }
#uumail::after
{    content:"@students.uu.nl";    }

.email:hover
{
    color: #00f;
    cursor: pointer;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) 
{

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
{
    body
    {    
        margin-left: auto;
        margin-right: auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 690px) 
{
    
    .wide
    {    display: none;    }
    .mid
    {    display: inline;  }
    .midsmall
    {    display: none;    }
    .small
    {    display: none;    }
    
    body
    {
        max-width: calc(45*0.5882em)
    }
    
    h1::after, h1::before
    {
        content: "============================================";
        display: block;
    }
    
    h2::after
    {
        content: "--------------------------------------------";
        display: block;
    }
    
}

/* Small Devices, Phones */
@media only screen and (max-width : 480px) 
{
    
    a
    {    color: #00f;      }
    .wide
    {    display: none;    }
    .mid
    {    display: none;    }
    .midsmall
    {    display: inline;  }
    .small
    {    display: none;    }
    
    body
    {
        max-width: calc(38*0.5882em);
    }
    
    h1::after, h1::before
    {
        content: "=====================================";
        display: block;
    }
    
    h2::after
    {
        content: "-------------------------------------";
        display: block;
    }
    
}

/* Superduper Small Devices, Smurfs */ 
@media only screen and (max-width : 380px) 
{

    .wide
    {    display: none;    }
    .mid
    {    display: none;    }
    .midsmall
    {    display: none;    }
    .small
    {    display: inline;  }
    
    body
    {
        max-width: calc(33*0.5882em);
    }
    
    h1::after, h1::before
    {
        content: "================================";
        display: block;
    }
    
    h2::after
    {
        content: "--------------------------------";
        display: block;
    }
    
    contentblock
    {
        margin-right: calc(2*0.5882em);
    }
    
    .codetitle
    {
        margin-left: calc(2*0.5882em);
        width: calc(9*0.5882em);
    }

}